p #{name}'s você solicitou a recuperação de senha! Clique no link abaixo para redefinir sua senha: <a href="http://localhost:3000/reset/${token}">Redefinir Senha</a>
p Se você não solicitou essa recuperação, ignore este e-mail.

